<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579423846749-jht04b1lfk4dm6j76lt99ih81aemgr12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579423846749-jht04b1lfk4dm6j76lt99ih81aemgr12</string>
	<key>API_KEY</key>
	<string>AIzaSyASrH9TYOmSPWtLzsARfg5DvaV1fVBVp6U</string>
	<key>GCM_SENDER_ID</key>
	<string>579423846749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datacoup</string>
	<key>PROJECT_ID</key>
	<string>datacoup-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>datacoup-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579423846749:ios:d946b551945b910237e8b4</string>
</dict>
</plist>